main {
  margin: 100px;
}

.mainTitle {
  font-size: 100px;
  text-align: center;
}

.productDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0px;
}

.productImage {
  width: 300px;
  height: 300px;
  justify-self: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qnaList,
.review {
  display: inline-block;
  margin: 0 10px;
}
