.navbar-brand{
    font-size: 2rem;
}
.bi{
    font-size: 1.5rem;
}
.category{
    padding: 0.5rem;
}
.product{
    padding-top: 2.5rem;
}
.main-nav{
    background-color: #786364;
    height: 3rem;
}
a.nav-link{
    padding: 0;
}

.user-nav {
    height: 2rem;
}

.login{
    background-color: #A79192;
    margin-left: 10px;
    margin-right: 10px;
}
.cart-badge{
    border: 1px red solid;
    color: black;
    border-radius: 25px;
    font-size: 5px;
    background: red;
    top: -5px;
    left: 25px;
}

.figure img{
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    height: 700px;
}
.figure-caption{
    top: 3%;
    left: 5%;
    font-size: 2rem;
    color: #fff;
}
.figure-shop{
    top: 5%;
    left: 90%;
    font-size: 1rem;
    color: #fff;
}
